.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #fdf6ec;
  border: 2px dashed #d6c4aa;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.01);
}


@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .item {
    width: 180px;
  }
}


@media (min-width: 1440px) {
  .item {
    width: 200px;
  }
}
